:root {
  font-family: Arial, Helvetica, sans-serif;
  color: #303b61;
  background: #f9faff;
}

html,
body,
#root {
  width: 100%;
  min-width: 0;
  min-height: 100%;
  margin: 0;
  overflow-x: hidden;
}
